---
import { type NavBarLink } from "../../types/config";
import { Icon } from "astro-icon/components";
import { url } from "../../utils/url-utils";

interface Props {
  links: NavBarLink[];
}

const links = Astro.props.links;
---

<div
  id="nav-menu-panel"
  class:list={[
    "float-panel float-panel-closed transition-all fixed right-4 px-2 py-2",
  ]}
>
  {
    links.map((link) => (
      <div class="nav-menu-item">
        <a
          href={link.external ? link.url : url(link.url)}
          class:list={[
            "group flex justify-between items-center py-2 pl-3 pr-1 rounded-lg gap-8 hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] transition",
            { "cursor-pointer": link.children && link.children.length > 0 },
          ]}
          target={link.external ? "_blank" : null}
          data-has-children={link.children && link.children.length > 0}
          onclick={
            link.children && link.children.length > 0
              ? "event.preventDefault(); this.parentElement.querySelector('.submenu').classList.toggle('hidden'); this.querySelector('.arrow-icon').classList.toggle('rotate-90');"
              : null
          }
        >
          <div class="transition text-black/75 dark:text-white/75 font-bold group-hover:text-[var(--primary)] group-active:text-[var(--primary)]">
            {link.name}
          </div>
          {!link.external && (
            <Icon
              name="material-symbols:chevron-right-rounded"
              class:list={[
                "transition text-[1.25rem] text-[var(--primary)] arrow-icon",
                { "rotate-90": false },
              ]}
            />
          )}
          {link.external && (
            <Icon
              name="fa6-solid:arrow-up-right-from-square"
              class="transition text-[0.75rem] text-black/25 dark:text-white/25 -translate-x-1"
            />
          )}
        </a>
        {link.children && link.children.length > 0 && (
          <div class="flex-col pl-4 border-l-2 border-neutral-200 dark:border-neutral-700 ml-3 my-1 hidden submenu">
            {link.children.map((child) => (
              <a
                href={child.external ? child.url : url(child.url)}
                class="group flex justify-between items-center py-2 pl-3 pr-1 rounded-lg gap-8
                            hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] transition
                        "
                target={child.external ? "_blank" : null}
              >
                <div class="transition text-sm text-black/75 dark:text-white/75 font-medium group-hover:text-[var(--primary)] group-active:text-[var(--primary)]">
                  {child.name}
                </div>
                {child.external && (
                  <Icon
                    name="fa6-solid:arrow-up-right-from-square"
                    class="transition text-[0.75rem] text-black/25 dark:text-white/25 -translate-x-1"
                  />
                )}
              </a>
            ))}
          </div>
        )}
      </div>
    ))
  }
</div>
